.container-nft {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: calc(100% - 60px);
  }
  // @media only screen and (max-width: 992px) {
  //   max-width: 960px;
  // }
  // @media only screen and (max-width: 768px) {
  //   max-width: 720px;
  // }
  @media only screen and (max-width: 576px) {
    max-width: calc(100% - 40px);
  }
}
.container-lang {
  max-width: 1488px;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
}

.container-nft--fluid {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: 100%;
  }
  @media only screen and (max-width: 576px) {
    max-width: 100%;
  }
}
