#hot-collection,
.slide-detail-nft {
  .swiper-pagination {
    bottom: -0px !important;
  }
}

#select-category {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 325px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category4 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 420px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category335 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 335px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category10 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 270px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category8 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 138px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category9 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 477px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
#select-category3 {
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    color: var(--bc-theme-primary-gradient-hover);
    font-size: 20px;
  }
  margin-left: -15px;
  // .el-select-dropdown.el-popper.select-language-dropdown {
  //   min-width: 200px;
  // }
  .el-select .el-input .el-input__inner {
    // max-width: 250px;
    border: none;
    font-size: 48px;
    line-height: 64px;
    // color: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    font-weight: 600;
    height: 60px;
    // max-width: 390px;

    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .el-select > .el-input {
    display: block;
    // max-width: 300px;
  }
  .el-input__suffix {
    right: 245px;
    // display: none;
    // right: 10px;
    top: -4px;
    transition: all 0.3s;
  }
  .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    background: linear-gradient(10deg, #9d3ef2 40.29%, #3036f4 97.93%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
  }
}
.slide-detail-nft {
  .swiper-pagination {
    bottom: -48px !important;
  }
}
.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  .swiper-pagination-bullet-active {
    background: var(--bc-theme-primary-gradient) !important;
  }
}
