@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin break-word {
  word-break: break-word;
}

@mixin break-word-webkit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin button {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

@mixin text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin custom-scroll {
  &:hover {
    &::-webkit-scrollbar {
      width: 5px;
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background: #9b9b9b;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 11px;
    // min-height: 50px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }

  &::-webkit-scrollbar-track {
    // background-color: #dbdbdb;
    background-color: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #747474;
    // background: transparent;
    background: #9b9b9b;

    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b;
  }
}

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 1px;
  // font-size: $font-size * 0.1rem;
  // example using rem values and 62.5% font-size so 1rem = 10px

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing / $font-size}em;
  }
}

$mobile: 576;
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin mobile {
  @media only screen and (max-width: $mobile * 1px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop * 1px) {
    @content;
  }
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property: $duration;
  -o-transition-property: $duration;
  -webkit-transition-property: $duration;
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
