//lynkey landing
.lyn_key {
  .color-white {
    color: #fff;
  }
  .fs32 {
    font-size: 32px;
    font-weight: 600;
  }
  .fs20-big {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  .fs24 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .fs24-small {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
  .mt40 {
    margin-top: 40px;
  }
  .mt25 {
    margin-top: 25px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mb79 {
    margin-bottom: 79px;
  }
  .pt70 {
    padding-top: 70px;
  }
  .color-text-scroll {
    color: #fff !important;
    padding-bottom: 28px !important;
  }
  .bg-text-gadient {
    background: linear-gradient(92.18deg, rgba(74, 172, 248, 0.9) 2.48%, rgba(139, 95, 238, 0.9) 52.36%, rgba(176, 0, 206, 0.9) 100.2%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-lyn {
    padding: 8px 30px 8px 30px;
    background: linear-gradient(92.18deg, rgba(74, 172, 248, 0.9) 2.48%, rgba(139, 95, 238, 0.9) 52.36%, rgba(176, 0, 206, 0.9) 100.2%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .changeBack {
    // background: #15171870;
    background: rgba(21, 23, 24, 0.85);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  }
  .text-center {
    text-align: center;
  }
  .height100 {
    height: 100%;
  }
  .img-fluid {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .select-language .suffix {
    img {
      margin-top: 10px !important;
    }
  }

  .el-image-viewer__wrapper {
    .el-icon-arrow-right:before {
      content: '\e6e0' !important;
    }
  }

  .el-input.is-disabled .el-input__inner {
    background-color: transparent !important;
    color: #fff !important;
  }

  button {
    cursor: pointer;
  }
  .btn-ido {
    background: transparent;
    color: white;
    border-radius: 99px;
    border: 1px solid #fff;
  }
  .btn-style {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    padding: 16px 40px;
  }
  .btn-login {
    border: 1px solid #ffffff;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 99px;
    transition: all 0.4s linear;
    text-align: center;
    width: 152px;
  }
  .header-scroll {
    .btn-login {
      background: linear-gradient(52.87deg, #9d3ef2 40.29%, #3036f4 97.93%);
      // color: #151718;
      border: 2px transparent;
      color: #ececec;
    }
  }
  .be-flex {
    display: flex;
  }
  .al-center {
    align-items: center;
  }
  .jf-bettwen {
    justify-content: center;
  }
  .title-folder-top {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    align-items: center;
    color: #ececec;
    opacity: 0.5;
  }
  .title-folder-center {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 16px;
    color: #ececec;
  }
  .title-folder-bottom {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ececec;
  }
  @media (min-width: 740px) and (max-width: 1024px) {
    .title-folder-top {
      justify-content: flex-start;
      font-size: 18px !important;
      line-height: 24px !important;
    }
    .title-folder-center {
      font-size: 32px !important;
      line-height: 48px;
      margin-top: 12px !important;
      margin-bottom: 8px !important;
    }
    .title-folder-bottom {
      font-size: 18px !important;
      line-height: 28px !important;
      font-weight: 400 !important;
      margin-bottom: 40px !important ;
    }
  }
  @media (max-width: 739px) {
    .title-folder-top {
      justify-content: flex-start;
      font-size: 16px !important;
      line-height: 24px !important;
    }
    .title-folder-center {
      font-size: 24px !important;
      line-height: 28.8px;
      margin-top: 24px !important;
      margin-bottom: 8px !important;
    }
    .title-folder-bottom {
      font-size: 16px !important;
      line-height: 24px !important;
      font-weight: 400 !important;
      margin-bottom: 32px !important ;
    }
  }
  .active {
    color: #fff !important;
    position: relative;
    border-bottom: 2px solid #fff;
    font-weight: 700 !important;
  }
  .fundraising {
    tbody {
      // border: 1px solid #21242a;
      background: rgba(33, 36, 42, 0.9);
      color: #ececec;
    }
  }
  .box-4-content,
  .box-5 {
    .el-dialog {
      width: 90%;
      max-width: 1280px;
      background: #21242a;
    }
    .el-dialog__body {
      word-wrap: break-word !important;
      word-break: break-word !important;
      overflow-y: scroll;
      height: 60vh;
      padding-top: 0;
      scroll-snap-align: start;
    }
    .el-dialog__body::-webkit-scrollbar {
      width: 5px;
    }
    .el-dialog__body::-webkit-scrollbar-track {
      background: transparent;
    }
    .el-dialog__body::-webkit-scrollbar-thumb {
      background: #5a6273;
      border-radius: 20px;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #ffffff;
      font-size: 20px;
    }
  }
  .box-5 {
    .el-dialog {
      width: 90%;
      max-width: 1150px;
      margin-top: 25vh !important;
      background: #21242a;
      @media (max-width: 739px) {
        margin-top: 15vh !important;
      }
    }
    .el-dialog__body {
      height: 50vh;
      @media (max-width: 739px) {
        height: 60vh;
      }
    }
  }

  // * {
  //     padding: 0;
  //     margin: 0;
  //     box-sizing: border-box;
  //     scroll-margin-top: 20px;
  // }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    max-width: 1920px;
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .po-absolute {
    position: absolute !important;
  }
  .po-relative {
    position: relative !important;
  }
  .text-left {
    text-align: left;
  }
  .jc-center {
    justify-content: center;
  }
  .fl-right {
    float: right;
  }
  .jc-between {
    justify-content: space-between !important;
  }
}
